<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Привет, поехали 🚀</h1>
    <button class="button" onclick="location.href='/tables'">Список всех столиков</button>
    <button class="button" onclick="location.href='/tables/new'">Создать новый столик</button>
    <!-- Кнопка для удаления столов (перенаправление на страницу с удалением) -->
    <button class="button" onclick="location.href='/tables/delete'">Удалить столик</button>
    <button class="button" onclick="location.href='/reservations'">Список всех броней</button>
    <button class="button" onclick="location.href='/reservations/new'">Создать новую бронь</button>
    <button class="button" onclick="location.href='/reservations/delete'">Удалить бронь</button>
</body>
</html>
